@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #FFCB9A, #D8B08C);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #c79e77;
    width: 600px;
    padding: 10px;
    margin: auto;
}

p {
    text-align: justify;
}

h1 {
    text-align: center;
    color: #168d8f;
    text-shadow: 1px 1px 2px #148b8dab;
}

h2 {
    color: #2C3532;
}

