@charset 'UTF-8';

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d6fde9;
}

h1 {
    color: rgb(4,109,0);
}

h1#principal {
    text-align: center;
    background-color: rgb(4,109,0);
    color:white;
}

h2 {
    color: rgb(51, 77, 0);
}

.basico {
    color: rgb(64, 208, 208);
}

.intermediario {
    color: rgb(207, 207, 45);
}

.avancado {
    color: red;
}

.background {
    background-color: white;
}